body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url(https://wallpaperscraft.com/image/art_star_tree_sky_space_93472_3840x2160.jpg);
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  max-height:40px;
  position:absolute;
}
.tealFlagshipDancer{
  content:url(http://cdn.wikimg.net/strategywiki/images/f/f2/Galaga_Flagship1.png);
}
.blueFlagshipDancer{
  content:url(http://cdn.wikimg.net/strategywiki/images/9/9b/Galaga_Bee.png);
}
.bosconianDancer{
  content:url(http://cdn.wikimg.net/strategywiki/images/4/4d/Galaga_Bosconian.png);
}
.left {
  transform: rotate(90deg);
}
.right {
  transform: rotate(270deg);
}